# Ignore node_modules and logs
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment files
*.env

# Ignore test and coverage directories
test/
coverage/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore