<div class="landing-page-container">
    <mat-card class="landing-card">
      <mat-card-title>Welcome to Compound Lookup</mat-card-title>
      <mat-card-content>
        <p>Discover detailed information about various chemical compounds at your fingertips.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" routerLink="/compounds" class="view-compounds-button">
          <mat-icon>search</mat-icon> View Compounds
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  