<div class="container landing-page-container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">

      <p class="card-heading">Welcome to Compound Lookup</p>
      <p class="">
        Discover detailed information about various chemical compounds at your fingertips.
      </p>
      <div class="mt-3">

        <a href="/compounds" class="btn btn-primary view-compounds-button">
          <i class="bi bi-search"></i> View Compounds
        </a>
      </div>
    </div>
  </div>
</div>
